body {
    font-style: italic;
    color: #ff004c96;
    background-color: white;
    background-image: url('https://cdn.wallpapersafari.com/18/76/YSsUpP.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    font-style: italic;
    margin-top: 40px;
}
#gameContainer {
    background: aqua;
    border-radius: 20px;
    padding: 30px;
    max-width: 400px;
    margin: 60px auto;
    box-shadow: 0 4px 16px blue;
    text-align: center;
}
button {
    background-color: #ffb6c1;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#wordDisplay {
    font-size: 1.5rem;
    margin-bottom: 20px;
    letter-spacing: 0.2em;
}
#message {
    margin-top: 20px;
    font-weight: bold;
}
input[type="text"] {
    font-size: 1.2rem;
    padding: 8px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ffb6c1;
    margin-right: 10px;
}