/*General Styling*/
@keyframes showElement{
    from{ opacity:0;}
    to{opacity:100;}
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
    overflow:hidden;
}
html, body{
    min-height:100vh;
    background-image: url('../assets/revampBg.png');
    background-size: cover;
}
button{
    cursor:pointer;
}
/*Grid Styling (letter classes will be renamed)*/
.grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    grid-template-rows: repeat(8, minmax(120px,1fr));
    width:100vw;
    height:100vh;
}
#A{
    background-color:black;
    grid-column:span 2;
    grid-row:span 2;
}
#B{
    grid-column:span 4;
    grid-row:span 2;
    background-color:red;
}
#C{
    grid-row:3 / span 2;
    grid-column:span 4;
    background-color:yellow;
}
#D{
    background-color:orange;
    grid-row: 5/span 2;
    grid-column: span 2;
}
#E{
    background-color: green;
    grid-row: 4;
    grid-column-end:-1;
}
#F{
    background-color: blue;
    grid-row: 5;
    grid-column-end:-1;
}
#G{
    background-color: purple;
    grid-row: 6;
    grid-column-end:-1;
}
#H{
    background-color: pink;
    grid-row: 7;
    grid-column-end:-1;
}
#I{
    background-color: aqua;
    grid-row: 5;
    grid-column-end:-2;
}
#J{
    background-color: rgb(7, 92, 92);
    grid-row: 6;
    grid-column-end:-2;
}
#K{
    background-color: rgb(187, 0, 255);
    grid-row: 7;
    grid-column-end:-2;
}
#L{
    background-color: rgb(255, 142, 142);
    grid-row: 6;
    grid-column-end:-3;
}
#M{
    background-color: rgb(147, 210, 210);
    grid-row: 7;
    grid-column-end:-3;
}
#N{
    background-color: rgb(191, 255, 122);
    grid-row: 7;
    grid-column-end:-4;
}
@keyframes mymove {
  100% {transform: rotate(360deg);}
}

/*NOTES FEATURE*/
#notes{
    z-index: 1;
    resize:both;
    left: 20%;
    top: 5%;
    width: 650px;
    height: 800px;
    min-height:300px;
    min-width: 480px;
    position:absolute;
    opacity:0;
    pointer-events:none;
    background-color:aqua;
    resize: both;
}
#notes.open{
    opacity: 1;
    pointer-events:auto;
}

/*footer styling*/
    /*-footer button*/
@keyframes opacityChange {
  from{opacity:0;}
  to{opacity:1;}
}
.toggle-footer{
    z-index: 2;
    grid-row:8;
    grid-column-start: 1;
    grid-column-end:-1;
    border-radius: 5% 5% 0 0 !important;
    transition: transform 0.67s ease; 
}
.toggle-footer.open{
    transform:translateY(-200%);
}
.toggle-footer button{
    width: 100%;
    height: 100%;
    background-color: #eecec2;
}
#mask{
    z-index:2;
    width:100%;
    height:100%;
    position:fixed;
    background-color: black;
    opacity:0;
    transition: opacity 0.67s ease;
    pointer-events:none;
}
#mask.cover{
    opacity: 0.8;
}
/*-footer content*/
.footer{
    z-index:2;
    grid-row:7/span 2;
    grid-column-start: 1;
    grid-column-end:-1;
    background-color: white;
    transform: translateY(100%);
    transition: transform 0.67s ease;
}
.footer.reveal{
    transform: translateY(0%);
}