@font-face {
    font-family:"fade_font";
    src:url('../assets/RoughSerif-ALjqA.ttf');
}
*{
    font-family:"fade_font";
}
body {
    font-style: italic;
    color: #ffffff;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height:100vh;
    width:100vw;
}

.backbutton {
    font-style: italic;
    position: absolute;
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: xxx-large;
    font-style: italic;
    margin-top: 80px;
    text-shadow: 0 4px 10px rgba(192, 0, 0, 0.95);
    font-family:"fade_font";
}

#inputContainer {
    background: rgb(134, 4, 4);
    border-radius: 20px;
    padding: 30px;
    max-width: 400px;
    margin: 60px auto;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
    text-align: center;
}

button {
    background-color: #800000;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}
button:hover{
    background-color: #400000;
}

button:disabled {
    background-color: #333;
    cursor: not-allowed;
}

#wordDisplay {
    font-size: 1.5rem;
    margin-bottom: 20px;
    letter-spacing: 0.2em;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}
input[type="text"] {
    font-size: 1.2rem;
    padding: 8px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #800000;
    margin-right: 10px;
    background-color: #000000;
    color: #ffffff;
    font-style: italic;
}

label {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
    font-style: italic;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

h1, #inputContainer, form, label, input {
    display: none;
}
#invisibleMan{
    position:absolute;
    bottom:0px;
    width:670px;
    height:95%;
    opacity:0.2;
}
#dialogue{
    background-color:#00000095;
    background-size:cover;
    height:25%;
    z-index:2;
    width:95%;
    position:fixed;
    bottom:5px;
    border-radius:10px;
    opacity:0;
    transition:opacity 0.1s;
    transition:transform 0.1s;
    transform:translateY(10px);
}
#dialogue p{
    margin-top:5.5%;
    font-size:4.5rem;
    text-align:center;
}
#speakerName{
    z-index:3;
    width:30%;
    height:10%;
    background-color:rgba(255, 255, 255, 0.754);
    position:fixed;
    left: 5%;
    bottom:17%;
    margin-bottom:10px;
    border-radius:10px;
    text-align:center;
    opacity:0;
    transition:opacity 0.1s;
    transition:transform 0.1s;
    transform:translateY(10px);
}
#template{
    display:none;
}
#speakerName h2{
    font-size:3rem;
    color:black;
    margin-top:10px;
}
#dialogue.show, #speakerName.show{
    opacity:1;
    transform:translateY(-10px);
}
.choices{
    position:relative;
    width:30%;
    height:10%;
    z-index:3;
    margin-right:5%;
    margin-bottom:-42%;
    pointer-events:none;
    display:none;
}
#help{
    position:absolute;
    bottom:9%;
    right:24%;
    border-radius:50%;
    aspect-ratio:1/1;
    height:5%;
    padding:0px;
    z-index:3;
    display:none;
}