/*General Styling*/
@keyframes showElement{
    from{ opacity:0;}
    to{opacity:100;}
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
    overflow:hidden;
}
html, body{
    min-height:100vh;
    background-image: url('../assets/revampBg.png');
    background-size: cover;
}
button{
    cursor:pointer;
}

/*NOTES FEATURE*/
#notes{
    background-color: aqua;
    width: 35%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    resize: both;
}
#notesBtn{
    position:fixed;
}

/*Grid Styling (letter classes will be renamed)*/
.main{
    max-height: 100vh;
    display:grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
}
.grid-container{
    grid-area: 1 / 1 / 9 / 17;
    max-height: 100vh;
    display:grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 1rem;
    margin: 1rem 1rem 0.5rem 1rem;

}
.grid-container div{
    border-radius: 5%;
}
.laptop:hover{
    transform: translateY(-0.75rem);
    cursor:pointer;
}
#mask{
    grid-area: 1 / 1 / 10  / 17;
    background-color: black;
    opacity:0;
    transition: opacity 0.67s ease;
    pointer-events:none;
}
#mask.cover{
    opacity: 0.6;
}
#calendar{
    grid-area: 1 / 1 / 3 / 3;
}
#calendar img {
    width: 100%;
    height: 100%;  
    border-radius: 5%;
    
}
#randPhotoA{
    grid-area: 1 / 3 / 3 / 7;
}
#randPhotoA img{
    width: 100%;
    height: 100%;
}
#music{
    background-color: #ffffff6b;
    grid-area: 3 / 1 / 5 / 5;
    display:grid;
}
@keyframes mymove {
  100% {transform: rotate(360deg);}
}
#recordDisk{
    height: 90%;
    grid-area: 3 / 1 / 5 / 3;
    aspect-ratio:1/1;
    margin: 0.5rem;
    animation: mymove 5s linear infinite;
    float: left;
}
#album{
    height:50%;
    width:50%;
}
#clue{
    background-color: #ffe4e0;
    grid-area: 5 / 1 / 7 / 3;
}
#files{
    grid-area: 5 / 16 / 6 / 17;
}
#files img{
    width:100%;
    height:100%;
}
#guessNum{
    grid-area: 6 / 16 / 7 / 17;
}
#guessNum img{
    width: 100%;
    height:100%;
}
#schedule{
    grid-area: 7 / 16 / 8 / 17;
}
#schedule img{
    width:100%;
    height: 100%;
}
#trash{
    grid-area: 8 / 16 / 9 / 17;
}
#trash img{
    width:100%;
    height:100%;
}
#guessWord{
    grid-area: 6 / 15 / 7 / 16;
}
#guessWord img{
    width: 100%;
    height: 100%;
}
#aretta{
    grid-area: 7 / 15 / 8 / 16;
}
#aretta img{
    width: 100%;
    height:100%;
}
#childhood{
    grid-area: 8 / 15 / 9 / 16;
}
#childhood img{
    width: 100%;
    height:100%;
}
#email{
    grid-area: 7 / 14 / 8 / 15;
}
#email img{
    width: 100%;
    height:100%;
}
#settings{
    grid-area: 8 / 14 / 9 / 15;
}
#settings img{
    width: 100%;
    height:100%;
}
#messages{
    grid-area: 7 / 13 / 8 / 14;
}
#messages img{
    width: 100%;
    height:100%;
}
/*footer styling*/
    /*-footer button*/
.toggle-footer{
    z-index: 2;
    grid-area: 9 / 1 / 10 /17;
    border-radius: 5% 5% 0 0 !important;
    transition: transform 0.67s ease; 
}
.toggle-footer.open{
    transform:translateY(-200%);
}
.toggle-footer button{
    width: 100%;
    height: 100%;
    background-color: #eecec2;
}
    /*-footer content*/
.footer{
    grid-area: 8 / 1 / 10 /17;
    background-color: white;
    transform: translateY(100%);
    transition: transform 0.67s ease;
}
.footer.reveal{
    transform: translateY(0%);
}