/*Font*/
.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-extralight {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-black {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*General Styling*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
    overflow:hidden;
    font-family: "Barlow", sans-serif;
}
html, body{
    min-height:100vh;
    background-color:rgb(255, 240, 249);
}
.container{
    display:grid;
    grid-template-columns: 250px 20fr 55px;
    grid-template-rows:1fr 10fr;
    width:100vw;
    height:100vh;
}
#header{
    grid-area:1/1/2/4;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    background-color:rgb(255, 240, 249);
}
#logo{
    height:50%;
    aspect-ratio:1/1;
    border-radius:5px;
    margin-left:0rem;
    margin-right:0.2rem;

}
#mailer{
    font-size:2cqi;
    margin-right:3rem;
}
#searchbar{
    width:75%;
    height:100%;
    display:flex;
    align-items:center;
}
#search{
    width:90%;
    height:60%;
    border-top-left-radius:0;
    border-top-right-radius:50px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:50px;
    margin-left:0rem;
    background-color:rgb(213, 213, 213);
    padding-left:5%;
    margin-right:0px;
}
#search:hover{
    cursor:text;
}
#sBtn{
    background-color:rgb(213, 213, 213);
    border-radius:50%;
    height:60%;
    width:auto;
    aspect-ratio:1/1;
    border-top-left-radius:50px;
    border-top-right-radius:0;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:0;
    text-align:center;
    display:flex;
    align-items:center;
}
#sBtn i{
    margin-left:10px;
}
#info{
    border:2px solid black;
    color:black;
    background-color:rgb(213, 213, 213);
    height:50%;
    aspect-ratio:1/1;
    text-align:center;
    border-radius:50%;
    margin-left:1rem;
}
#pfp{
    border:2px solid black;
    background-color:rgb(255, 197, 243);
    height:45px;
    aspect-ratio:1/1;
    text-align:center;
    border-radius:50%;
    margin-right:1rem;
    margin-left:1rem;
}
#sidebar1{
    grid-area:2/1/3/2;
}
#main{
    grid-area:2/2/3/3;
    border-radius:20px;
    background-color:rgba(246, 197, 232, 0.49);
    margin-bottom:1rem;
}
#sidebar2{
    grid-area:2/3/3/4;
    background-color:rgb(255, 240, 249);
}
#sidebar1{
    display:flex;
    flex-direction:column;
    background-color:rgb(255, 240, 249);
}
#sidebar1 button{
    font-weight:bold;
}
#inbox:hover, #promo:hover, #trash:hover{
    background-color:rgb(255, 227, 232);
}
#inbox, #promo, #trash{
    width:100%;
    font-weight:bold;
    font-size:1rem;
    background-color:transparent;
    text-align:left;
    height:4%;
    border-radius:0px 30px 30px 0px;
}
#inbox i, #promo i, #trash i{
    margin-left:1rem;
    margin-right:1rem;
}
#write{
    background-color:pink;
    font-size:1.5rem;
    width:80%;
    height:10%;
    margin-bottom:1rem;
    border-radius:0px 30px 30px 0px;
    margin-top:0.5rem;
}
#write:hover{
    background-color:rgb(208, 141, 152);
}
#write i{
    margin-right:0.5rem;
}
.num{
    float:right;
    margin-right:1rem;
}
button:hover{
    cursor:pointer;
}
#current{
    border-bottom:1px solid grey;
    text-align:left;
    font-size:2rem;
    height:5%;
    display:flex;
    margin-top:10px;
}
#current h1{
    font-size:1.5rem;
}
#current i{
    font-size:1.5rem;
    margin-left:1%;
    margin-right:1%;
}
#emails div{
    border-bottom:1px solid grey;
    height:2rem;
    display:flex;
    background-color:rgba(255, 234, 249, 0.49);
}
#emails div:hover{
    background-color:rgba(252, 186, 233, 0.49);
    cursor:pointer;
}
#emails div h3{
    width:250px;
    margin-left:2rem;
    margin-top:5px;
    margin-bottom:5px;
    display:block;
}
#chill{
    display:none;
}
#emails div h4{
    width:1000px;
    margin-top:5px;
    margin-bottom:5px;
    display:block;
}
.case{
    font-weight:lighter;
}
#mclt, #radley, #wind, #term, #whispher{
    grid-area:2/2/3/3;
    z-index:2;
    background-color:rgb(255, 234, 249);
    border-radius:20px;
    margin-bottom:1rem;
    display:none;
    pointer-events:none;
}
#whispher{
    overflow-y:scroll;
    overflow-x:hidden;
    padding-bottom:3%;
}
.promorec{
    margin:1.5% 5% 0rem 5.5%;
    width:90%;
    aspect-ratio:2/1;
}
.date{
    float:right;
    margin-right:3rem;
    margin-top:-4%;
}
.emailaddress{
    font-weight:100;
}
.fa-arrow-left{
    margin:1rem 0 0 1rem;
}
.emailHeader{
    margin:0rem 0 0 3rem;
}
.promosq{
    margin:1.5% 25% 0rem 25%;
    height:80%;
}
#update{
    position:fixed;
    width:40vw;
    height:27vh;
    right:0px;
    margin-right:9vw;
    padding:1rem;
    margin-left:auto;
    overflow:scroll;
    margin-top:1rem;
    border-radius:10px;
    background-color:#c57568;
    color:white;
}
.senderpfp{
    aspect-ratio:1/1;
    width:4%;
    border-radius:50%;
    float:left;
    margin-right:1rem;
    margin-left:0.5rem;
}
#dialogue{
    width:60%;
    height:15%;
    position:fixed;
    background-color:#c57568;
    z-index:2;
    bottom:1rem;
    left:1%;
    right:5.5%;
    border-radius:20px;
    display:flex;
    align-items:center;
    overflow:visible;
    opacity:0;
    pointer-events:none;
    transition:opacity 0.1s;
    transition:transform 0.1s;
    cursor:pointer;
}

#dialogue h1{
    text-align:center;
    width:100%;
}
#dName{
    text-align:center;
    position:absolute;
    bottom:15%;
    z-index:5;
    left:2%;
    background-color:white;
    border-radius:20px;
    padding: 0.8rem;
    font-size:2rem;
    width:20%;
    opacity:0;
    transition:opacity 0.1s;
    transition:transform 0.1s;
}
.fa-arrow-left:hover{
    cursor:pointer;
}
.text{
    margin: 67px 67px auto 67px;
    line-height:2rem;
}
#dialogue.show, #dName.show{
    opacity:1;
    transform:translateY(-10px);
}
#back{
    aspect-ratio:1/2;
    width:100%;
    padding:0;
    font-size:1em;
    background-color:transparent;
}
#back:hover{
    color:pink;
}
#back i{
    margin-top:10%;
}
@media (max-width: 1000px) {
#mailer{
    font-size:2cqi;
    margin-right:1rem;
}
#info{
    margin-left:0.5rem;
}
#pfp{
    margin-right:0.5rem;
    margin-left:0.5rem;
}
#emails div > h3{
    display:none;
}
.container{
    display:grid;
    grid-template-columns: 200px 20fr 55px;
    grid-template-rows:1fr 10fr;
    width:100vw;
    height:100vh;
}
}

sidebar