@font-face{
    font-family: "fileFont";
    src: url("../assets/STAMPWRITER-KIT\ 2.ttf");
}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
html{
    border: 10px solid black;
    height:97.2vh;
}
body{
    background-image: url('../assets/')
}
.header{
    position:absolute;
    z-index:-999;
}
h1{
    font-family: "Satisfy", cursive;
    font-size:3rem;
    margin-left:0.5vw;
    margin-top:0vh;  
}
h4{
    text-align:right;
    margin-top:-13vh;
    margin-right:-77vw;
    font-size: 1.2rem;
    font-family:'Courier New', Courier, monospace;
}
button{
    cursor:pointer;
}
#arettaChildhoodPhoto{
    height:12vh;
    aspect-ratio:137/82;
    position:absolute;
    left: 7.7vw;
    top:17vh;
    background-size:cover;
}
#arettaChildhoodPhoto:hover{
    transform:translateY(-10px);
    background-image: url("../assets/[CONTENT\ UNAVAILABLE].png");
    background-position: center;
    border:2px solid black;
}
#mockEmail{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:32vh;
    left:2vw;
    background-size:cover;
}
#mockEmail:hover{
    transform:translateY(-10px);
    background-image: url("../assets/[CONTENT\ UNAVAILABLE].png");
    background-position: center;
    border:2px solid black;
}
#mockFiles{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:32vh;
    left:18.5vw;
    background-size:cover;
}
#mockFiles:hover{
    transform:translateY(-10px);
    background-image: url("../assets/[CONTENT\ UNAVAILABLE].png");
    background-position: center;
    border:2px solid black;
}
#mockContacts{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:43vh;
    left: 10vw;
    background-size:cover;
}
#mockContacts:hover{
    transform:translateY(-10px);
    background-image: url("../assets/[CONTENT\ UNAVAILABLE].png");
    background-position: center;
    border:2px solid black;
}
#guessTheNumber{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:53vh;
    left:18.5vw;
    background-size:cover;
}
#guessTheNumber:hover{
    transform:translateY(-10px);
    background-image: url("../assets/[CONTENT\ UNAVAILABLE].png");
    background-position: center;
    border:2px solid black;
}
#wordGuessGame{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:72.5vh;
    left:18.5vw;
    background-size:cover;
}
#wordGuessGame:hover{
    transform:translateY(-10px);
    background-image: url("../assets/[CONTENT\ UNAVAILABLE].png");
    background-position: center;
    border:2px solid black;
}
#arettaPicture{
    width:6vw;
    aspect-ratio:64/85;
    position:absolute;
    top: 60vh;
    left:2vw;
    background-size:cover;
}
#arettaPicture:hover{
    transform:translateY(-10px);
    background-image: url("../assets/[CONTENT\ UNAVAILABLE].png");
    background-position: center;
    border:2px solid black;
}
#arettasSchedule{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:72.5vh;
    right:2vw;
    background-size:cover;
}
#arettasSchedule:hover{
    transform:translateY(-10px);
    background-image: url("../assets/[CONTENT\ UNAVAILABLE].png");
    background-position: center;
    border:2px solid black;
}
#mockSetting{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:59vh;
    right:9vw;
    background-size:cover;
}
#mockSetting:hover{
    transform:translateY(-10px);
    background-image: url("../assets/[CONTENT\ UNAVAILABLE].png");
    background-position: center;
    border:2px solid black;
}
footer{
    position:absolute;
    bottom:0px;
    width:96vw;
}
#logo{
    position:absolute;
    height:9.4vh;
    left:35vw;
    top:9vh;
    border-radius:0px;
    bottom:0px;
    margin-top:-10vh;
    margin-left:-2.6vw;
}
hr{
    position:absolute;
    height:9px;
    background-color:black;
    border: 1px solid black;
    width:100vw;
    margin-left:-2vw;
    bottom:10.5vh;
}
#guess{
    font-family: 'fileFont', 'Courier New', monospace;
    font-size:1.5rem;
    position:absolute;
    height:10.3vh;
    width:33.33vw;
    left:0.5vw;
    top:-1.1vh;
    margin-left:-1.1vw;
}
.webDetails{
    font-family: 'fileFont', 'Courier New', monospace;
    height:5vh;
    text-align:center;
    line-height:0px;
    padding-bottom:3vh;
    padding-left:4vw;
}
#openNotes{
    font-family: 'fileFont', 'Courier New', monospace;
    position:absolute;
    height:10.3vh;
    right:0.2vw;
    width:33.33vw;
    top:-1.1vh;
    margin-right:-2.3vw;
    font-size: 2rem;
}
.notes{
    position:fixed;
    font-family: 'fileFont', 'Courier New', monospace;
    background-color:black;
    width: 35vw;
    height:90vh;
    opacity:0.8;
    border-radius:20px;
    color:white;
    margin-left: 45vw;
    margin-top:0vh;
    pointer-events:none;
    opacity:0;
    
}
.notes.open{
    opacity:1;
    z-index:999;
}
#notesTitle{
    font-size: 3rem;
    position:relative;
    margin-left: 3vw;
}