*{
    font-family:'Courier New', Courier, monospace;
}
html{
    height:100%;
    width:100%;
    border: 10px solid black;
}
h4{
    text-align:right;
    line-height:1px;
}
#arettaChildhoodPhoto{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
}
#mockEmail{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
}
/*footer*/
footer{
    position: absolute;
    padding:0px;
    margin:0px;
    bottom:0rem;
    left:0px;
    width:101%;
    border-top: 10px solid black;
}
#title{
    font-size:1.67rem;
}
#copyright{
    font-size:0.7rem;
}
#logo{
    position:absolute;
    height:9.4vh;
    left:35vw;
    top:0vh;
    border-radius:0px;
}
#guess{
    position:absolute;
    height:10.5vh;
    left:0.5vw;
    top:-0.1vh;
    width:33.33%;
    border-radius:0px;
}
.webDetails{
    height:5vh;
    text-align:center;
    line-height:0px;
}
#notes{
    position:absolute;
    height:10.5vh;
    right:0.2vw;
   top:-0.1vh;
    width:33.33%;
    border-radius:0px;
}
