@font-face{
    font-family: "fileFont";
    src: url("../assets/STAMPWRITER-KIT\ 2.ttf");
}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
html{
    border:10px,solid,black;
}
body{
    margin:0;
    height:95vh;
    border:10px,solid,black;
}
header{
    background-color:pink;
    margin:1vw;
}
.app{
    width:6vw;
    aspect-ratio:1/1;
}
footer{
    display:flex;
    background-color:aqua;
}
#guess{
    display:inline-block;
    width:33.33vw;
}
.webDetails{
    display:flex;
}
#logo{
    width:6vw;
    float:left;
}
#title{
    display:inline-block;
    width:27.33vw;
}
#openNotes{
    display:inline-block;
    width:33.33vw;
    border-radius:0px;
}

.notes{
    font-family: 'fileFont', 'Courier New', monospace;
    background-color:black;
    opacity:0.8;
    border-radius:20px;
    color:white;
    margin-left: 45vw;
    pointer-events:none;
    opacity:0;
    
}
.notes.open{
    opacity:1;
    z-index:999;
}
#notesTitle{
    font-size: 3rem;
    position:relative;
    margin-left: 3vw;
}