html{
    border-radius: 5%;
    height:100%;
    width:100%;
    border: 10px solid black;
}
h4{
    text-align:right;
    line-height:1px;
}

footer{
    position: absolute;
    bottom:0rem;
    width:100%;
    border-top: 10px solid black;
}
#guess{
    display:inline-block;
    width: 33.1%;
    margin-left:0px;
}
.webDetails{
    display:inline-block;
    width: 33.1%;
}
#notes{
    display:inline-block;
    width: 32.2%;
}