/*fonts*/

@font-face{
    font-family: "fileFont";
    src: url("../assets/STAMPWRITER-KIT\ 2.ttf");
}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

/*main*/

body{
    margin:0;
    background-size:cover;
}
.openingScreen{
    background-color:black;
    width:100vw;
    height:100vh;
    position:fixed;
    z-index:1;
    cursor:pointer;
}
@keyframes openingFade{
    from{background-color: #000000;}
    to{background-color:#000000bb;}
}
@keyframes exitingFade{
    from{background-color: #000000bb;}
    to{background-color:transparent;}
}
@keyframes hideElement{
    from{opacity:100;}
    to{opacity:0;}
}
@keyframes showElement{
    from{ opacity:0;}
    to{opacity:100;}
}
@keyframes caseFileSlideIn{
    0%{transform:translateY(-100vh);}
    100%{transform:translateY(92vh);}
}
@keyframes caseFileSlideOut{
    0%{transform:translateY(92vh);}
    50% {transform:translateY(-80vh);}
    100%{transform:translateY(-100vh);}
}
#titleScreen{
    position: fixed;
    top:40vh;
    left:10vw;
    font-family:'fileFont', 'Courier New', monospace;
    font-size:5rem;
    color:#FFFFFF;
    width:100%;
    z-index:2;
}
#introInstruction{
    position:fixed;
    top:60vh;
    left:40vw;
    color:white;
    font-family:'fileFont', 'Courier New', monospace;
    font-size:1rem;
    opacity:0;
}
.introInstructionFadein{
    animation: showElement 1.5s ease-out forwards;
}
.introInstructionFadeout{
    animation: hideElement 1.5s ease-out forwards;
}
.titleScreenFadein{
    animation: openingFade 1.5s ease-out forwards;
}
.titleScreenFadeout{
    animation: exitingFade 1.5s ease-out forwards;
    pointer-events:none;
}
.titleScreenHide{
    animation: hideElement 1.5s ease-out forwards;
}
#caseFile{
    margin-top:-90vh;
    left: 35vw;
    height:90vh;
    position:fixed;
    background-color:none;
}
.caseFileEnter{
    animation:caseFileSlideIn 2s ease-out forwards;
    animation-delay: 1.5s;
}
.caseFileExit{
    animation: caseFileSlideOut 2s ease-in forwards;
    pointer-events:none;
}
#clickStart{
    position:fixed;
    top:92vh;
    left:40vw;
    font-family:'fileFont', 'Courier New', monospace;
    font-size:1rem;
    color:#FFFFFF;
    width:100%;
    opacity:0;
}
.clickStartClicked{
    animation: showElement 2.5s ease-out forwards;
    animation-delay: 4.5s;
}
.clickStartOut{
    animation: hideElement 2.5s ease-out forwards;
    pointer-events:none;
}
.container{
    background-image: url('../assets/laptopbg.png');
    background-size:cover;
    background-attachment: fixed;
    border:20px,solid,#905375a9;
    border-bottom:none;
    position:relative;
    min-height:calc(100vh - 17.6vh);
}

/*header*/

header{
    margin:1vw;
}
header h1{
    float:left;
    font-family:"Satisfy", cursive;
    font-size:3rem;
    margin-top:0vh;
}
header h4{
    text-align:right;
    float:right;
    font-family:'fileFont', 'Courier New', monospace;
    margin-top:1vh;
}
button{
    cursor:pointer;
}

/*apps*/
.applications button:hover{
    transform:translateY(-10px);
}
#arettaChildhoodPhoto{
    position:fixed;
    top:18vh;
    left:10.5vw;
    margin:0px;
    padding:0px;
    aspect-ratio: 3/2;
    border:none;
    background-color:inherit;
    font-family: "Satisfy", cursive;
    line-height:10px;
}
#arettaChildhoodPhoto img{
    margin-left:0px;
    margin-right:0px;
    height:14vh;
}
#mockFiles{
    position:fixed;
    top:35vh;
    left:2vw;
    background-color:inherit;
    margin:0px;
    padding:0px;
    border:none;
    font-family: "Satisfy", cursive;
    line-height:15px;
}
#mockFiles img{
    width:7vw;
    aspect-ratio:4/3;
}
#mockEmail{
    position:fixed;
    top:35vh;
    left:21.5vw;
    margin:0px;
    padding:0px;
    border:none;
    background-color:inherit;
    font-family: "Satisfy", cursive;
    line-height:15px;
}
#mockEmail img{
    width:6vw;
    aspect-ratio:1/1;
}
#arettasSchedule{
    position:fixed;
    top:51vh;
    left:2vw;
    margin:0px;
    padding:0px;
    border:none;
    background-color:inherit;
    font-family: "Satisfy", cursive;
    line-height:15px;
}
#arettasSchedule img{
    width:8vw;
    aspect-ratio:4/3;
}
#mockContacts{
    position:fixed;
    top:45vh;
    left:11.5vw;
    margin:0px;
    padding:0px;
    border:none;
    background-color:inherit;
    font-family: "Satisfy", cursive;
    line-height:15px;
}
#mockContacts img{
    width:7vw;
    aspect-ratio:1/1;
}
#guessTheNumber{
    position:fixed;
    top:51vh;
    left:21.3vw;
    margin:0px;
    padding:0px;
    border:none;
    background-color:inherit;
    font-family: "Satisfy", cursive;
    line-height:15px;
}
#guessTheNumber img{
    width:6vw;
    aspect-ratio:1/1;
}
#guessTheNumber a{
    text-decoration:none;
    color:black;
}
#wordGuessGame{
    position:fixed;
    top:69vh;
    left:2.1vw;
    margin:0px;
    padding:0px;
    border:none;
    background-color:inherit;
    font-family: "Satisfy", cursive;
    line-height:15px;
}
#wordGuessGame img{
    width:6vw;
    aspect-ratio:1/1;
}
#wordGuessGame a{
    text-decoration:none;
    color:black;
}
#arettaPicture{
    position:fixed;
    top:68vh;
    left:21.5vw;
    margin:0px;
    padding:0px;
    border:none;
    background-color:inherit;
    font-family: "Satisfy", cursive;
    line-height:15px;
}
#arettaPicture img{
    width:6vw;
    aspect-ratio:5/6;
}
#mockSetting{
    position:fixed;
    top:69vh;
    right:8vw;
    margin:0px;
    padding:0px;
    border:none;
    background-color:inherit;
    font-family: "Satisfy", cursive;
    line-height:15px;
}
#mockSetting img{
    width:6vw;
    border-radius:50%;
}
#mockTrashbin{
    position:fixed;
    top:54vh;
    right:2vw;
    margin:0px;
    padding:0px;
    border:none;
    background-color:inherit;
    font-family: "Satisfy", cursive;
    line-height:15px;
}
#mockTrashbin img{
    width:6vw;
}
#bgMusicControls{
    position:fixed;
    top:73vh;
    right:2.5vw;
    margin:0px;
    padding:0px;
    border:none;
    background-color:inherit;
    font-family:'fileFont', 'Courier New', monospace;
    line-height:0px;
}
#bgMusicControls img{
    width:4.5vw;
}

/*footer*/

footer{
    background-color:#905375ce;
    border:10px,solid,#90537507;
    border-right:none;
    border-left:none;
    border-bottom:none;
    display:flex;
    height:13.45vh;
    font-family:'fileFont', 'Courier New', monospace;
    color:#000000;
}
#guess_perpretrator{
    display:inline-block;
    width:33.33vw;
    text-align:center;
    text-decoration:none;
    color:#000000;
    padding-top:5vh;
    font-size:2rem;
}
#guess_perpretrator:visited{
    text-decoration:none;
}
.guess_perpretrator{
    background-image:url('../assets/indexFooter.png');
    background-size:cover;
}
.guess_perpretrator:hover{
    transform: translateY(-20px);
    height: calc(13vh + 35px);
}
.webDetails{
    display:flex;
    background-image:url('../assets/indexCopyright.png');
    background-size:cover;
    padding-top:2vh;
}
#logo{
    width:6vw;
    float:left;
    margin:0px;
}
#title{
    display:inline-block;
    width:33.33vw;
    text-align:center;
    margin-left:-2vw;
    font-size:1.5rem;
    line-height:2vh;
}
#copyright{
    font-size:0.67rem;
    line-height:2vh;
}
#openNotes{
    display:inline-block;
    width:33.33vw;
    border:none;
    border-radius:0px;
    background-image:url('../assets/indexFooter.png');
    background-size:cover;
    background-color:inherit;
    margin-right:0px;
    font-family:'fileFont', 'Courier New', monospace;
    color:#000000;
    font-size:2rem;
    background-color:#00000000;
}
#openNotes:hover{
    transform: translateY(-20px);
    height: calc(13vh + 35px);
}