/*General Styling*/
@keyframes showElement{
    from{ opacity:0;}
    to{opacity:100;}
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
    overflow:hidden;
}
html, body{
    min-height:100vh;
    background-image: url('../assets/revampBg.png');
    background-size: cover;
}
button{
    cursor:pointer;
}
.main{
    position:relative;
}
/*Grid Styling*/
.grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(90px,1fr));
    grid-template-rows: repeat(8, minmax(90px,1fr));
    width:100vw;
    height:100vh;
}
#A{
    grid-column:span 2;
    grid-row:span 2;
    min-width:0;
    min-height:0;
    overflow:hidden;
    align-content:center;
    justify-content:center;
}
#A img{
    border-radius: 25px;
    height:auto;
    width:98%;
    padding:2%;
}
#B{
    grid-column:span 4;
    grid-row:span 2;
    align-content:center;
    justify-content:center;
}
#B img{
    border-radius: 25px;
    height:98%;
    width:98%;
    padding:2%;
}
#C{
    grid-row:3 / span 2;
    grid-column:span 4;
    background-color:rgba(255, 255, 255, 0.547);
    border-radius: 25px;
    width:98%;
    height:98%;
    margin:1%;
    padding:1%;
}
#C img{
    margin-top:2.5%;
    animation: rotateDisk 3s linear infinite;
    width:45%;
}
#D{
    grid-row: 5/span 2;
    grid-column: span 2;
}
#D img{
    border-radius: 25px;
    width:98%;
    height:98%;
    padding:2%;  
}
#E{
    grid-row: 4;
    grid-column-end:-1;
}
#F{
    grid-row: 5;
    grid-column-end:-1;
}
#G{
    grid-row: 6;
    grid-column-end:-1;
}
#H{
    grid-row: 7;
    grid-column-end:-1;
}
#I{
    grid-row: 5;
    grid-column-end:-2;
}
#J{
    grid-row: 6;
    grid-column-end:-2;
}
#K{
    grid-row: 7;
    grid-column-end:-2;
}
#L{
    grid-row: 6;
    grid-column-end:-3;
}
#M{
    grid-row: 7;
    grid-column-end:-3;
}
#N{
    grid-row: 7;
    grid-column-end:-4;
}
.smallApp:hover{
    transform:translateY(-10%);
}
.smallApp img{
    width:90%;
    height:80%;
    margin-left:5%;
    margin-right:5%;
    border-radius:10px;
}
.smallApp p{
    font-size:0.75rem;
    text-align:center;
}
@keyframes rotateDisk {
  100% {transform: rotate(360deg);}
}

/*NOTES FEATURE*/
#notes{
    z-index: 1;
    resize:both;
    left: 20%;
    top: 5%;
    width: 200px;
    height: 600px;
    min-height:300px;
    min-width: 480px;
    position:absolute;
    opacity:0;
    pointer-events:none;
    background-color:aqua;
    resize: both;
}
#notesControls{
    background-color:rgb(255, 0, 153);
    height:100%;
    width:15%;
    float:left;
}
#notes.open{
    opacity: 1;
    pointer-events:auto;
}
#closeNotes{
    position:absolute;
    right:0;
    top:0;
}
#previewNotes{
    float:left;
    background-color:yellow;
    height:100%;
    width:25%;
    overflow:scroll;
}
#save{
    position:absolute;
    bottom:0;
    right:0;
    aspect-ratio:1/1;
    width:10%;
    background-color:transparent;
}
#save img{
    width:100%;
}
#notesTitle{
    width:100%;
    font-size:2rem;
}
#openNotes{
    height:100%;
}
#notesContent{
    resize:none;
    height:100%;
    width:100%;
}
form{
    height:100%;
}
.noted{
    width:100%;
    height:5em;
}
#add, #remove{
    width:100%;
    aspect-ratio:1/1;
}
/*footer styling*/
    /*-footer button*/
.toggle-footer{
    z-index: 2;
    grid-row-start: -2;
    grid-row-end:-1;
    grid-column-start: 1;
    grid-column-end:-1;
    transition: transform 0.67s ease; 
    background-image: url('')
}
.toggle-footer.open{
    transform:translateY(-180%);
}
.toggle-footer button{
    width: 100%;
    height: 100%;
    background-color: #eecec2;
}
#mask{
    z-index:2;
    width:100%;
    height:100%;
    position:fixed;
    background-color: black;
    opacity:0;
    transition: opacity 0.67s ease;
    pointer-events:none;
}
#mask.cover{
    opacity: 0.8;
}
/*-footer content*/
.footer{
    z-index:2;
    grid-row-start:-3;
    grid-row-end:-1;
    grid-column-start: 1;
    grid-column-end:-1;
    background-color: white;
    transform: translateY(100%);
    transition: transform 0.67s ease;
}
.footer.reveal{
    transform: translateY(0%);
}
/*footer details*/
#datesNstuff{
    position:absolute;
    right:1%;
    top:5%;
    opacity:0;
    transition: opacity 0.67s ease;
    z-index:3;
    color:#FFFFFFFF;
}
#datesNstuff.show{
    opacity:1;
}

