@font-face{
    font-family: "fileFont";
    src: url("../assets/STAMPWRITER-KIT\ 2.ttf");
}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
html{
    border:10px,solid,black;
}
footer{
    display:flex;
}
#guess{
    display:inline-block;
}

#logo{
    width:6vw;
}

.notes{
    position:fixed;
    font-family: 'fileFont', 'Courier New', monospace;
    background-color:black;
    width: 35vw;
    height:90vh;
    opacity:0.8;
    border-radius:20px;
    color:white;
    margin-left: 45vw;
    margin-top:0vh;
    pointer-events:none;
    opacity:0;
    
}
.notes.open{
    opacity:1;
    z-index:999;
}
#notesTitle{
    font-size: 3rem;
    position:relative;
    margin-left: 3vw;
}