html{
    height:100%;
    width:100%;
    border: 10px solid black;
}
h4{
    text-align:right;
    line-height:1px;
}
#arettaChildhoodPhoto{
    aspect-ratio:1/1;
}
/*footer*/
footer{
    position: absolute;
    padding:0px;
    margin:0px;
    bottom:0rem;
    left:0px;
    width:101%;
    border-top: 10px solid black;
}
#guess{
    position:absolute;
    height:14.9vh;
    left:0.5vw;
    top:0vh;
    width:33.33%;
    border-radius:0px;
}
.webDetails{
    text-align:center;
}
#notes{
    position:absolute;
    height:14.9vh;
    right:0.2vw;
    top:0vh;
    width:33.33%;
    border-radius:0px;
}
