@font-face{
    font-family: "amore";
    src: url("../assets/Amore Christmas.otf");
}

body {
    font-style: italic;
    color: #fff6b6;
    background-image: ("../assets/guessbg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff6b6;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-family: amore;
}
h1 {
    color: #fff6b6;
    text-align: center;
    font-size: xx-large;
    font-family: amore;
    font-style: italic;
    margin-top: 40px;
    text-shadow: 0 4px 10px rgba(255, 238, 88, 0.95);
}
#gameContainer {
    background: rgb(69, 15, 97);
    border-radius: 20px;
    padding: 30px;
    max-width: 400px;
    margin: 60px auto;
    box-shadow: 0 4px 16px rgb(255, 246, 200);
    text-align: center;
}
button {
    background-color: #fff6b6;
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    font-family: amore;
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#wordDisplay {
    font-size: 1.5rem;
    margin-bottom: 20px;
    letter-spacing: 0.2em;
}
#message {
    margin-top: 20px;
    font-weight: bold;
}
input[type="text"] {
    font-size: 1.2rem;
    padding: 8px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #10429f;
    margin-right: 10px;
}