*{
    font-family:'Courier New', Courier, monospace;
}
html{
    border: 10px solid black;
    height:97.2vh;
}
h4{
    text-align:right;
    line-height:1px;
}
#arettaChildhoodPhoto{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    left: 10vw;
}
#mockEmail{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:35vh;
}
#mockFiles{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:35vh;
    left:19vw;
}
#mockContacts{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:55vh;
    left: 10vw;
}
#guessTheNumber{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:55vh;
    left:19vw;
}
#wordGuessGame{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:75vh;
    left:19vw;
}
#arettaPicture{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:75vh;
}
#arettasSchedule{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:75vh;
    right:1.5vw;
}
#mockSetting{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:60vh;
    right:7vw;
}
footer{
    border-top:10px solid black;
    position:absolute;
    bottom:0;
}
#logo{
    position:absolute;
    height:9.4vh;
    left:35vw;
    top:0vh;
    border-radius:0px;
}
