/*General Styling*/
@keyframes showElement{
    from{ opacity:0;}
    to{opacity:100;}
}
<<<<<<< HEAD
@keyframes caseFileSlideIn{
    0%{transform:translateY(-100vh);}
    100%{transform:translateY(103vh);}
=======
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
    overflow: hidden;
>>>>>>> 8e4c42f (website revamp init commit)
}
html, body{
    min-height:100vh;
    background-image: url('../assets/revampBg.png');
    background-size: cover;
}
<<<<<<< HEAD
#titleScreen{
    position: fixed;
    top:40vh;
    left: 20%;
    font-family:'fileFont', 'Courier New', monospace;
    font-size:5rem;
    color:#FFFFFF;
    width:100%;
    z-index:2;
}
#introInstruction{
    position:fixed;
    top:60vh;
    left:45vw;
    color:white;
    font-family:'fileFont', 'Courier New', monospace;
    font-size:1rem;
    opacity:0;
=======
/*Grid Styling (letter classes will be renamed)*/

.grid-container{
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(5, 1fr);  /*Hi sir can you help me make the homepage responsive, by suggesting how to make the divs E-N (small divs) to move next to the bigger divs (A-D) for mobile:D*/
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 1rem;
}
@media(min-width: 1400px){
.grid-container{
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 1rem;
>>>>>>> 8e4c42f (website revamp init commit)
}
}
.grid-container div{
    border:4px solid black;
    border-radius: 10px;
}
.laptop{
    z-index: 1;
}
#A{
    grid-area: 1 / 1 / 3 / 3;
}
#A img {
    width: 100%;
    height: 100%;   /* Hi sir can you help me find out why when adding this img in the div, the footer disappears, thanks:D*/
}
<<<<<<< HEAD
#caseFile{
    margin-top:-100vh;
    left: 35vw;
    height:90vh;
    position:fixed;
    background-color:none;
=======
#B{
    grid-area: 1 / 3 / 3 / 7;
>>>>>>> 8e4c42f (website revamp init commit)
}
#C{
    grid-area: 3 / 1 / 5 / 5;
}
#D{
    grid-area: 5 / 1 / 7 / 3;
}
#E{
    grid-area: 5 / 16 / 6 / 17;
}
#F{
    grid-area: 6 / 16 / 7 / 17;
}
#G{
    grid-area: 7 / 16 / 8 / 17;
}
<<<<<<< HEAD
.container{
    position:fixed;
    background-image: url('../assets/flowerbg.jpeg');
    background-size:cover;
    background-attachment: fixed;
    border:20px,solid,#905375a9;
    border-bottom:none;
    position:relative;
    min-height:calc(100vh - 17.8vh);
=======
#H{
    grid-area: 8 / 16 / 9 / 17;
}
#I{
    grid-area: 6 / 15 / 7 / 16;
}
#J{
    grid-area: 7 / 15 / 8 / 16;
}
#K{
    grid-area: 8 / 15 / 9 / 16;
}
#L{
    grid-area: 7 / 14 / 8 / 15;
}
#M{
    grid-area: 8 / 14 / 9 / 15;
}
#N{
    grid-area: 7 / 13 / 8 / 14;
>>>>>>> 8e4c42f (website revamp init commit)
}

/*footer styling*/
    /*-footer button*/
.toggle-footer{
    z-index: 2;
    grid-area: 9 / 1 / 10 /17;
    border-radius: 10px 10px 0 0 !important;
    transition: transform 0.67s ease; 
}
.toggle-footer.open{
    transform:translateY(calc(-200% - 1rem));
}
.toggle-footer button{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
    /*-footer content*/
.footer{
    z-index: 2;
    grid-area: 8 / 1 / 10 /17;
    transform: translateY(100%);
    transition: transform 0.67s ease;
    border-radius: 0 !important;
    pointer-events: none;
    background-color: yellow;
}
.footer.reveal{
    transform: translateY(0%);
}