*{
    font-family:'Courier New', Courier, monospace;
}
html{
    border: 10px solid black;
    height:97.2vh;
}
h1{
    margin-left:0.5vw;
}
h4{
    text-align:right;
    margin-top:-7.3vh;
    margin-right:0.5vw;
}
#arettaChildhoodPhoto{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    left: 10vw;
    top:17vh;
}
#mockEmail{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:32vh;
    left:2vw;
}
#mockFiles{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:32vh;
    left:18.5vw;
}
#mockContacts{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:43vh;
    left: 10vw;
}
#guessTheNumber{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:53vh;
    left:18.5vw;
}
#wordGuessGame{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:72.5vh;
    left:18.5vw;
}
#arettaPicture{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:72.5vh;
    left:2vw;
}
#arettasSchedule{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:72.5vh;
    right:2vw;
}
#mockSetting{
    width:6vw;
    aspect-ratio:1/1;
    position:absolute;
    top:59vh;
    right:9vw;
}
footer{
    position:absolute;
    bottom:0px;
}
#logo{
    position:absolute;
    height:9.4vh;
    left:35vw;
    top:9vh;
    border-radius:0px;
    bottom:0px;
    margin-top:-10vh;
    margin-left:-2.6vw;
}
hr{
    position:absolute;
    height:9px;
    background-color:black;
    border: 1px solid black;
    width:100vw;
    margin-left:-2vw;
    bottom:10.5vh;
}
footer{
    width:96vw;
}
#guess{
    position:absolute;
    height:10.5vh;
    width:33.33vw;
    left:0.5vw;
    top:-1.2vh;
    margin-left:-1.1vw;
}
.webDetails{
    height:5vh;
    text-align:center;
    line-height:0px;
    padding-bottom:3vh;
    padding-left:4vw;
}
#notes{
    position:absolute;
    height:10.5vh;
    right:0.2vw;
    width:33.33vw;
    top:-1.2vh;
    margin-right:-2.3vw;
}




